/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0px 15px;
  font-family: 'Chewy', cursive;
}
html body,
body body {
  max-width: 900px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding: 40px 0px;
}
nav a {
  margin-left: 30px;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}
.top-content {
  display: flex;
  flex-direction: column;
  background-color: #f9fbe7;
  padding: 30px;
}
.top-content * {
  margin-bottom: 25px;
}
.top-content img {
  width: 450px;
}
.top-content h1 {
  font-size: 3rem;
}
.top-content h2 {
  font-size: 1.4rem;
}
.top-content hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #827717;
}
.top-content p {
  font-size: 1.1rem;
}
.top-content button {
  width: 155px;
  height: 45px;
  border-radius: 5px;
  border-style: none;
  background-color: #827717;
  color: white;
  font-size: 1.1rem;
  font-family: 'Chewy', cursive;
}
.middle-content {
  display: flex;
  padding: 40px 0px;
  justify-content: space-between;
}
.middle-content div {
  width: 48%;
}
.middle-content div p {
  font-size: 1.1rem;
  line-height: 25px;
}
.middle-content div h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.middle-content div ul {
  border: 1px solid #827717;
  border-radius: 4px;
}
.middle-content div ul li {
  font-size: 1.1rem;
  line-height: 50px;
  padding-left: 20px;
  border-bottom: 1px solid #827717;
}
.middle-content div ul li:last-child {
  border-bottom: 0px;
}
.bottom-content {
  display: flex;
  flex-direction: column;
}
.bottom-content h2 {
  font-size: 2rem;
}
.bottom-content table {
  margin: 15px 0px;
}
.bottom-content table tbody {
  display: flex;
  flex-direction: column;
}
.bottom-content table tbody .shaded {
  background-color: #f9fbe7;
}
.bottom-content table tbody tr {
  border-top: 1px solid #827717;
  display: flex;
}
.bottom-content table tbody tr th {
  font-size: 1.1rem;
  font-weight: 600;
  width: 25%;
  padding: 12px;
  text-align: left;
}
.bottom-content table tbody tr td {
  padding: 12px;
  width: 25%;
  align-self: center;
}
footer {
  background-color: #827717;
  height: 75px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: #f9fbe7;
}
